 * {
     font-family: "lato", sans-serif;
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
     overflow: hidden;
 }
 
 body {
     background-color: #F8FAFB;
 }
 
 .signup {
     display: flex;
     justify-content: space-evenly;
     padding: 5em 5em;
 }
 
 .sign_form h1 {
     margin: 20px;
 }
 
 .sign_img img {
     height: 40em;
     width: 45em;
 }
 
 .sign_form {
     text-align: center;
     background-color: #C4C1FF;
     width: 30em;
     height: 35em;
     border-radius: 5px;
     margin-top: 4em;
 }
 
 .inputs input {
     margin: 1em;
     height: 4em;
     width: 25em;
     border-radius: 5px;
     border: none;
 }
 
 .google {
     display: flex;
     justify-content: center;
 }
 
 .google img {
     height: 4em;
     width: 4em;
 }
 
 .google button {
     height: 4em;
     width: 21em;
     margin-right: 2em;
     background-color: white;
     border: none;
     border-radius: 5px;
     font-size: 15px;
     cursor: pointer;
 }
 
 ::placeholder {
     color: #534e50;
     padding-left: 7px;
 }